# 忽略 Unreal Engine 生成的中间文件
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# 忽略 IDE 相关文件
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# 忽略整个 Content 目录
Content/*


!Content/2D_Game/**

